<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/site.css">
    <title>Our team</title>
</head>
<body>
<div class="header">
  <h1>Our team</h1>
</div>

<div class="main">
  <div class="menu">
    <ul>
      <li><a href="/">Меню</a></li>
      <li><a href = "/bendik" >Бендік Ольга</a></li>
      <li><a href="/charnosh">Чарнош Надія</a></li>
    </ul>
  </div>

  <div class="content">
    <div class="img">
      <div class="img1">
        <img src="https://articles.tribun.com.ua/images/156/24/6fa7f63dbc0f88eb23f8d52eeb7db3ae_15624.jpg" alt="photo">
          <img src="https://upload.wikimedia.org/wikipedia/ru/6/6b/NyanCat.gif" alt="photo">
      </div>
      <div class="img2">
        <img src="https://www.decorprint.com.ua/wp-content/uploads/2017/07/w-338.jpg" alt="photo">
      </div>
    </div>

    <div class="text">

      <div class="part1">
        <h3><%= user.last_name %> <%= user.name %></h3>
        <h3>Вік: <%= user.age %></h3>
        <h3>Місто: <%= user.city %></h3>
        <h3>Країна: <%= user.country %></h3>

        <h3>Хобі:</h3>
        <ul>
          <% user.hobbies.forEach(hobby => { %>
          <li><%= hobby %></li>
          <% }) %>
        </ul>
      </div>
      <div class="part">
        <h3>Улюблені книги:</h3>
        <ul>
          <% user.books.forEach(book => { %>
          <li><%= book %></li>
          <% }) %>
        </ul>

        <h3>Спорт:</h3>
        <ul>
          <% user.sport.forEach(type => { %>
          <li><%= type %></li>
          <% }) %>
        </ul>

        <h3>Фільми:</h3>
        <ul>
          <% user.films.forEach(film => { %>
          <li><%= film %></li>
          <% }) %>
        </ul>

        <h3>Ігри:</h3>
        <ul>
          <% user.games.forEach(game => { %>
          <li><%= game %></li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <h2>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h2>
</div>
</body>
</html>